<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <title>Brainfuck IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	
	<script src="/js/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
	<style type="text/css" media="screen">
		#editor {}
	</style>
    <script>
	$(document).ready()
    var socket = io.connect();	
     
    </script>
	<script>

        //TODO: add tabs (say for settings): https://www.w3schools.com/howto/howto_js_tabs.asp
		function login() {
			socket.emit('leave');
		}
		
		function format() {
			var editorVal = editor.getValue();
			editor.setValue(formatString(editorVal));
		}

        function unformat() {
			var editorVal = editor.getValue();
			editor.setValue(unformatString(editorVal));
		}
	</script>
</head>

<body>
    <div class="container">
        <!--<div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="pull-right">
                    <a href="https://github.com/Skepter/WMcChat2" class="brand">WMcChat2</a>
                </div>
            </div>
        </div>-->
        <div class="page-header">
            <h1>Brainfuck IDE</h1>
        </div>
        <div class="row">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" onclick="socket.emit('leave')" class="btn btn-success"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run</button>
		  <button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>
		  <button type="button" class="btn btn-warning"> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset</button>
		</div>
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default"> <i class="fa fa-bug" aria-hidden="true"></i> Debug</button>
		  <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Step</button>
		</div>
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" onclick="format()" class="btn btn-primary"> <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span> Format</button>
		  <button type="button" onclick="unformat()" class="btn btn-info"> <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> Unformat</button>
		</div>

            <!-- Login -->

            <!--<div class="panel panel-primary row controls">
                <div class="panel-heading">Login to server</div>
                <div class="panel-body">
										<form action="http://127.0.0.1:3000/myaction" method="get">
												<input type="text" name="text1" class="form-control" placeholder="insert text here">
												<input type="submit" class="btn btn-primary" value="Send">
										</form>
                    <form ng-submit="login()" action="http://127.0.0.1:3000/myaction" method="get">
											
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Username</label>
                            <div class="controls">
                                <input type="text" id="uname" class="form-control" ng-model="uname" placeholder="Username or email">
                            </div>

                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" id="pword" class="form-control" ng-model="pword" placeholder="Password">
                            </div>

                            <label class="control-label" for="serverInfo">Server information (Leave port blank for default port)</label>
                            <div class="controls">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="serverip" placeholder="Server IP">
                                    <span class="input-group-addon">
																				<input type="text" ng-model="serverport" placeholder="Server port (25565)">
																		</span>
                                </div>
                            </div>

                            <div class="controls">
                                <input type="checkbox"> Remember me
                                <br><br>
                                <input type="submit" class="btn btn-primary" value="Log in">
                                <form ng-submit="leave()">
                                    <input type="submit" class="btn btn-danger" value="Disconnect">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>-->

            <br>
            <!--Text box -->
            <!--<textarea class="form-control" rows="10" ng-model="chatbox" ng-bind="chatbox" id="theChatBox"></textarea>
            <form ng-submit="chat()">
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Message to send to server</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="msg" placeholder="Chat">
                        <span class="input-group-btn">
																<input type="submit" class="btn btn-primary" value="Send" ng-disabled="!msg">
														</span>
                    </div>
                </div>
            </form>-->
			<br>
			<div id="editor" style="height: 500px; width: 500px">Hello World!
++++++++++
[
  > +++++++
  > ++++++++++
  > +++
  > +
  <<<< -
]
> ++.
> +.+++++++..+++.
> ++.
<< +++++++++++++++.
>.+++.------.--------.
> +.
>.</div>
				
			<script src="/ace-builds-1.2.8/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
			<script>
				//TODO: Create a highlighter for Brainfuck: https://ace.c9.io/#higlighter=&nav=higlighter

				var editor = ace.edit("editor");
				editor.setTheme("ace/theme/chrome");
				editor.getSession().setMode("ace/mode/text");
                editor.$blockScrolling = Infinity;
			</script>




            <!-- Roster stuff thing
				<div class="span4">
					<ul class="nav nav-list well">
						<li class="nav-header">Online Players</li>
						<li ng-repeat="user in roster" ng-bind="user"></li>
					</ul>
				</div>
				<div class="span9">
				-->

            <!-- Messaging -->

        </div>
    </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
	
	<script src="/js/brainfuck_formatter.js"></script>
</body>

</html>